* {
	padding: 0;
	margin: 0;
}
.navegation {
	position: absolute;
	top: 4.6%;
	width: 100%;
	z-index: 2;
}
.navegation-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main-navegation {
	color: #fff;
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background: #000;
	opacity: 0.9;
}
.main-navegation .main-navegation-ul {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 3%;
	border: 2px solid #fff;
	border-radius: 7px;
	background-color: #c18f59;
}
.main-navegation .main-navegation-ul li {
	margin-bottom: 20px;
	list-style: none;
}
.main-navegation .main-navegation-ul a {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.3s ease;
}
.main-navegation .main-navegation-ul a:hover{
	color: #777;
}
.burguer-container {
cursor: pointer;
z-index: 3;
}
.bar1, .bar2, .bar3 {
width: 30px;
height: 3px;
background-color: #c18f59;
margin: 6px 0;
transition: 0.4s;
}